body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header .logo {
    width: 100px; /* Ajuste o tamanho da imagem conforme necessário */
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: 300px;
}

.product-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.btn {
    background-color: #0044cc;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #0033aa;
}

.product-detail {
    text-align: center;
}

.product-detail-image {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.contact form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

.contact form label {
    margin-top: 10px;
}

.contact form input, .contact form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contact form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #85cc00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact form button:hover {
    background-color: #0033aa;
}

footer {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

